
CƠ SỞ DỮ LIỆU SQLite TRONG PYTHON

In [7]:
#Cài đặt thư viện
!pip install pysqlite3   #cài xong thì đóng lại để không tạo thêm

#Import thư viện
import sqlite3

#Kết nối đến CSDL bằng một đường dẫn
path = ".db" #link.db
connection = sqlite3.connect(path)

print(connection)

#Ngắt kết nối: dùng connection.close()

Requirement already satisfied: pysqlite3 in /opt/anaconda3/lib/python3.11/site-packages (0.5.2)
<sqlite3.Connection object at 0x113e84a90>

In [ ]:
#Tạo đối tượng cursor
cursor = connection.cursor()

#Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien WHERE sinhvien.diemtb>=8"
cursor.execute(sql)
result = cursor.fetchall() #fetch all : thực thi tất cả trong sql
print(result)

In [ ]:
#INSERT

#Tạo đối tượng cursor
cursor = connection.cursor()

#Tạo câu lệnh SQL
sql = 
"INSERT INTO sinhvien(maSV, hovaten, diemtb) VALUES ('06', 'Nguyễn Văn A', 8.5)"

cursor.execute(sql)
connection.commit()
cursor.close()

#result = cursor.fetchall()
#print(result)

In [ ]:
#UPDATE

#Tạo đối tượng cursor
cursor = connection.cursor()

#Tạo câu lệnh SQL
sql = "UPDATE sinhvien set diemtb = diemtb + 1"

cursor.execute(sql)
connection.commit()
cursor.close()

In [ ]:
#DELETE

#Tạo đối tượng cursor
cursor = connection.cursor()

#Tạo câu lệnh SQL
sql = "DELETE FROM sinhvien WHERE diemtb>10"

cursor.execute(sql)
connection.commit()
cursor.close()

In [ ]:
def printAll(result):
    for item in result:
        print(item)

In [ ]:
#Tạo đối tượng cursor
cursor = connection.cursor()

#Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien"
cursor.execute(sql)
result = cursor.fetchall() #fetch all : thực thi tất cả trong sql
cursor.close()

#In dữ liêu:
printAll(result)

--------------- @ ----------------

TẠO TABLE CHO SQLite TRONG PYTHON

In [8]:
#Database
import sqlite3

#Tạo kết nối với CSDL
conn = sqlite3.connect(".db") #chèn link dẫn dến SQL
print(conn)

<sqlite3.Connection object at 0x114b51e40>

In [ ]:
#tạo thông tin về lớp học
#tạo Table
c = conn.cursor()

#Xoá table nếu như đã tồn tại
c.execute("DROP TABLE IF EXITS lop_hoc")

#tạo một table
sql = """
    CREATE TABLE lop_hoc (
        ma_lop varchar(50) NOT NULL PRIMARY_KEY,
        ten_lop varchar(255) NULL DEFAULT NULL
    )
"""
c.execute(sql)

#Insert dữ liệu
sql = """
    INSERT INTO TABLE lop_hoc(ma_lop, ten_lop)
    VALUES
        ("Python", "Lập trình Python")
        ("JSP", "Lập trình JSP")
"""
c.execute(sql)
conn.commit()

In [ ]:
#tạo thông tin về sinh viên
#tạo Table
c = conn.cursor()

#Xoá table nếu như đã tồn tại
c.execute("DROP TABLE IF EXITS sinh_vien")

#tạo một table
sql = """
    CREATE TABLE sinh_vien (
        masv varchar(50) NOT NULL PRIMARY_KEY,
        hovaten varchar(255) NULL DEFAULT NULL,
        ngaysinh date NULL DEFAULT NULL,
        ma_lop varchar(255) NOT NULL,
        
    )
"""
c.execute(sql)

#Insert dữ liệu
sql = """
    INSERT INTO TABLE _vien(masv, hovaten, ngaysinh, ma_lop)
    VALUES
        ("098", "Nguyễn Văn A", "2000-07-07", "Python")
        ("092", "Nguyễn Văn B", "2000-07-14", "Python")
        ("091", "Nguyễn Văn C", "2000-09-07", "Python")
        
"""
c.execute(sql)
conn.commit()